.container {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

.bunga {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.kelopak {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, 50%);
    animation: kelopak-rotate 3s linear infinite;
}

.batang {
    width: 20px;
    height: 100px;
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.daun {
    width: 50px;
    height: 30px;
    background-color: green;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes kelopak-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
